

* {
    box-sizing: border-box;
}

* {	
    margin: 0;
}

#featureList{
	top: 300px;
	right: 300px;
	position: fixed;
	min-height: 80vh;
	border: 2px solid red;
}

header{
    display: flex;
    position: fixed;
	flex-direction: column;
    background: #ADD8E6;
    height: 200px;
    width: 100%;
}


banner{
    display: flex;
    flex-direction: column;    
    background: #ADD8E6;
    height: 70px;
    width: 100%;
    flex-wrap: wrap;
}

#pgTitle{
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    width: 100%;

}

banner ul{
  display: flex;
  flex-direction: row;
  margin-left: auto; 
  list-style-type: none;
  flex-wrap: wrap;
}

banner li{
  margin-right: 10px;
  display: inline;
}

.logoDiv{
    display: flex;
    flex-direction: row;
    background: #ADD8E6;
    height: 80px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#logo{
   
    height: 70px;
    width: 320px;
    background-size: contain;
}

#free30 {
	
    margin-left: 100%; 
    height: 50px;
    width: 100px;
	justify-content: flex-end;
    background-size: contain;	
	
}

.ourFeatures {
   display: flex;
    flex-direction: row;
    background: #ADD8E6;
    height: 50px;
    width: 100%;
    justify-content: flex-end;
    
}




.medCheck img{
    height: 40px;
    width:  auto;
    background-size: contain;
    
}
#ourTx{
    margin-top: 8px;
    font-size: 1.5em;
    font-weight: bold;
}



.content {

    display: flex;
    flex-direction: column;
    top: 0px;
    background-color: lightgrey;
}

.featureList{
	display: flex;
	flex-direction: column;
	position:fixed;
	top: 200px;
	z-index; -1;
	cursor:pointer;
	font-size: 1.3em;
	text-decoration: none;
	right:0;
	width: 350px;
	
}
.notHovering {
 	display: flex;
	flex-direction: row;
 	white-space: nowrap;
    overflow: hidden;   
    min-width: 0;
    margin-left: 270px;
    text-overflow: ellipsis;
	width: 100px;
	background: lightgreen;
	
    
}

.hovering {
	display: flex;
	flex-direction: row;
    white-space: nowrap;
    text-overflow: ellipsis;  
    min-width: 0;
    margin-left: 5px;
    text-overflow: ellipsis;
	right: 0px;	
	color: white;
	margin-left: 300;
	background: green;
	
    
}

.featureList ul{
	list-style-type: none;
}
.featureList ul li{
	display: flex;
	flex-direction: row;
	min-width: 0;
    margin-left: 5px;
     overflow: hidden;
    text-overflow: ellipsis;
}




.features{
    display: flex;
    margin-left: 20px;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: auto;
	margin-top: 60px;
   
    
}
.secHdr{
	text-align: center;
	font-size: 1.5em;
	font-weight: 800;
	padding: 15px;
	
}
.featuresCols{
	display: flex;
    flex-direction: row;
	
}
.fcols{
     margin-bottom: 20px;
    width: 32%;
	margin-right: 30px;
	font-size: 1.2em;
}


.main-footer {
    border-top: 3px solid blue;
	text-align: center;
	background: #d9e4ea;
    height: 40px; 
}

.navPts{
 
  display: flex;
  height: 30px;
  cursor: pointer;
  font-size: 1em;
    background: lightgreen;
    
}
.smlCheck {
	display: flex;
	flex-direction: row; 
}

.smlCheck img{
    height: 28px;
    width:  auto;
    background-size: contain;
    
}


.nowrap-div {
    padding-top: 7px;
    white-space: nowrap;
    overflow: hidden;   
    min-width: 0;
    margin-left: 5px;
    text-overflow: ellipsis;
}




#f1_c3 img{
	height: auto;
	width: 50%;
	margin-left: 40px;
	
}




@media screen and (max-width: 800px) {
    
    #logo{
    
    height: 35px;
    width: 250px;
    margin-left: 20%;
    background-size: contain;
    }
	
.secHdr{
	text-align: center;
	font-size: 1.0em;
	font-weight: 900;
	padding: 8px;
	
}
    
    #pgTitle{
    align-content: center;
    font-size: 1.2em;
    font-weight: bold;

}

    
    .content{

        background:red;


    }
    
  .features{
    
      flex-direction: column;
    }
    
}

