<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>ProTempus Law Office Software for Attorneys</title>
    <link rel="shortcut icon" href="./img/favicon.ico">	
	<meta http-equiv="content-type" 
		content="text/html;charset=utf-8" />
	
        <link rel="stylesheet" src="//normalize-css.googlecode.com/svn/trunk/normalize.css" />
	
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	
        <link rel="stylesheet" href="./css/main.css" />
        
        
</head>
    
<body>
	

	
     <header>
         
     <banner>
        <div id="pgTitle">
            Law Office Automation Software</div>
            <ul>
                <li><a href="#f5">Home</a></li>
                <li><a href="contacts.html">Free Support</a></li>
                <li><a href="schedule.html">Free Training</a></li>
                <li><a href="about.html">Pricing</a></li>
                <li><a href="about.html">Getting Started</a></li>                
          </ul>
    </banner>
         
       

    <div class="logoDiv">
         <img  id="logo" src="img/protempusLogo.png" 
              alt="ProTempus Logo"  > 
		
		 <a  href="free30daytrial.html" link
				  {text-decoration: none;}><img id = "free30" src="img/free_trial_button.jpg" alt="free 30-day trial"  /></a>
    </div>
        
   
    <div class="ourFeatures" >
         <div class="medCheck">
            <img  src="img/check.png" >
        </div>         
        <div id="ourTx">
            <span>Checkout our Features!</span></div>        
    </div>    
            
  </header>  

	
<div class="featureList" ng-app="myApp">
    <div ng-controller="featureController">
        
    	<span ng-repeat="feature in features " 
			ng-class="over ? 'hovering' : 'notHovering'"
			ng-style="{left-margin: {{cols}} + 'px'}"
			ng-mouseenter="mouseEvent (feature,true)" 
			ng-mouseleave="mouseEvent (feature,false)"

			>
         <div class="smlCheck">
            <img  src="img/check.png" >
            	
		 <div  ng-click="scrollTo(feature.nav)">
        {{feature.item}}
						 
		</div>
 		</div>					
    </span>			
        
    </div>
</div>
     	

<div class="content"> <!--Start of content div-->
    



<div class="features" id="f0">
        <div class="featuresCols">
	
	    <div class="fcols" id = "f0_c1">
        <h4>f1 First Column</h4>
        <p> 	
</p>
		
	</div>
			
 <div class="fcols" id = "f0_c2">
        <h4>f1 First Column</h4>
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
       
			
	 </div>
	 
	  <div class="fcols" id = "f0_c3">
        <h4>f1 First Column</h4>
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
       
			</div>
  </div>
	
	

     
    </div> <!--End Features -->
     
    </div> <!--End controler-->
		
	
  <div class="features" id = "f1">
	
	 <div class="secHdr" >Secure non cloud based software</div>
      <div class="featuresCols">
    <div class="fcols" id = "f1_c1">
        
        <p>ProTempus is a secure, cloudless law office practice management software package for solo and small law firms. Our unique technology keeps your data on your local network, NOT in the cloud. Your authorized staff has access to all your data through the sharable database without requiring any expensive hardware upgrades.</p>  
    </div>
   <div class="fcols" id = "f1_c2">
        
        <p> ProTempus does NOT require an expensive server. It is a comprehensive system that embodies quick time capture, precise billing, expanded contact and party management, real-time remote access, secure client information, document management, and more.</p>  
	   <br>
	    <p> ProTempus allows you to share your data with your staff <b>without sharing your data with the world!</b></p>
	   
    </div>  
		  
   <div class="fcols" id = "f1_c3">
         <img  id="logo" src="img/noCloud.png" 
              alt="No Cloud Pic"  > 
          
    </div> 
   </div>
</div>

  
 <div class="features" id = "f2">
	<div class="secHdr" >More Green on your screen means more green in your pocket!</div>
      <div class="featuresCols">
    <div class="fcols" id = "f2_c1">
        
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
    </div>
   <div class="fcols" id = "f2_c2">
        <h4>f2 Second Column</h4>
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
    </div>  
   <div class="fcols" id = "f2_c3">
        <h4>f2 Third Column</h4>
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
    </div>      
</div>
</div>
  
   
 <div class="features" id = "f3">
	<div class="secHdr" >Secure non cloud based software</div>
      <div class="featuresCols">
    <div class="fcols" id = "f3_c1">
        <h4>f3 First Column</h4>
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
    </div>
   <div class="fcols" id = "f3_c2">
        <h4>f3 Second Column</h4>
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
    </div>  
   <div class="fcols" id = "f3_c3">
        <h4>f3 Third Column</h4>
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
    </div>      
</div>
</div>
  
    
 <div class="features" id = "f4">
	<div class="secHdr" >Secure non cloud based software</div>
      <div class="featuresCols">
    <div class="fcols" id = "f4_c1">
        <h4>f4 First Column</h4>
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
    </div>
   <div class="fcols" id = "f4_c2">
        <h4>f4 Second Column</h4>
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
    </div>  
   <div class="fcols" id = "f4_c3">
        <h4>f4 Third Column</h4>
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
    </div>      
</div>
</div>  
    
 <div class="features" id = "f5">
	<div class="secHdr" >Secure non cloud based software</div>
      <div class="featuresCols">
    <div class="fcols" id = "f5_c1">
        <h4>f5 First Column</h4>
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
    </div>
   <div class="fcols" id = "f5_c2">
        <h4>f5 Second Column</h4>
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
    </div>  
   <div class="fcols" id = "f5_c3">
        <h4>f5 Third Column</h4>
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
    </div>      
</div>
</div>
  
    
 <div class="features" id = "f6">
	<div class="secHdr" >Secure non cloud based software</div>
      <div class="featuresCols">
    <div class="fcols" id = "f6_c1">
        <h4>f6 First Column</h4>
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
    </div>
   <div class="fcols" id = "f6_c2">
        <h4>f6 Second Column</h4>
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
    </div>  
   <div class="fcols" id = "f6_c3">
        <h4>f6 Third Column</h4>
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
    </div>      
</div>
</div>
  
    
 <div class="features" id = "f7">
	<div class="secHdr" >Secure non cloud based software</div>
      <div class="featuresCols">
    <div class="fcols" id = "f7_c1">
        <h4>f7 First Column</h4>
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
    </div>
   <div class="fcols" id = "f7_c2">
        <h4>f7 Second Column</h4>
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
    </div>  
   <div class="fcols" id = "f7_c3">
        <h4>f7 Third Column</h4>
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
    </div>      
</div>
</div>
  
    
 <div class="features" id = "f8">
	<div class="secHdr" >Secure non cloud based software</div>
      <div class="featuresCols">
    <div class="fcols" id = "f8_c1">
        <h4>f8 First Column</h4>
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
    </div>
   <div class="fcols" id = "f8_c2">
        <h4>f8 Second Column</h4>
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
    </div>  
   <div class="fcols" id = "f8_c3">
        <h4>f8 Third Column</h4>
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
    </div>      
</div>
 </div> 
    
 <div class="features" id = "f9">
	<div class="secHdr" >Secure non cloud based software</div>
      <div class="featuresCols">
    <div class="fcols" id = "f9_c1">
        <h4>f9 First Column</h4>
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
    </div>
   <div class="fcols" id = "f9_c2">
        <h4>f9 Second Column</h4>
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
    </div>  
   <div class="fcols" id = "f9_c3">
        <h4>f9 Third Column</h4>
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
    </div>      
</div>
</div>
  
    
 <div class="features" id = "f10">
	<div class="secHdr" >Secure non cloud based software</div>
      <div class="featuresCols">
    <div class="fcols" id = "f10_c1">
        <h4>f10 First Column</h4>
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
    </div>
   <div class="fcols" id = "f10_c2">
        <h4>f10 Second Column</h4>
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
    </div>  
   <div class="fcols" id = "f10_c3">
        <h4>f10 Third Column</h4>
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
    </div>      
</div>
</div>
  
    
 <div class="features" id = "f11">
	<div class="secHdr" >Secure non cloud based software</div>
      <div class="featuresCols">
    <div class="fcols" id = "f11_c1">
        <h4>f11 First Column</h4>
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
    </div>
   <div class="fcols" id = "f11_c2">
        <h4>f11 Second Column</h4>
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
    </div>  
   <div class="fcols" id = "f11_c3">
        <h4>f11 Third Column</h4>
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
    </div>      
</div>
</div>
  	
  
	    
 <div class="features" id = "f12">
	<div class="secHdr" >Secure non cloud based software</div>
      <div class="featuresCols">
    <div class="fcols" id = "f12_c1">
        <h4>f12 First Column</h4>
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
    </div>
   <div class="fcols" id = "f12_c2">
        <h4>f12 Second Column</h4>
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
    </div>  
   <div class="fcols" id = "f12_c3">
        <h4>f12 Third Column</h4>
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
    </div>      
</div>
</div>
  	
  	
	    
 <div class="features" id = "f13">
	<div class="secHdr" >Secure non cloud based software</div>
      <div class="featuresCols">
    <div class="fcols" id = "f13_c1">
        <h4>f13 First Column</h4>
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
    </div>
   <div class="fcols" id = "f13_c2">
        <h4>f13 Second Column</h4>
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
    </div>  
   <div class="fcols" id = "f13_c3">
        <h4>f13 Third Column</h4>
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
    </div>      
</div>
</div>
	
 <div class="features" id = "f14">
	<div class="secHdr" >Secure non cloud based software</div>
      <div class="featuresCols">
    <div class="fcols" id = "f14_c1">
        <h4>f14 First Column</h4>
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
    </div>
   <div class="fcols" id = "f14_c2">
        <h4>f14 Second Column</h4>
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
    </div>  
   <div class="fcols" id = "f14_c3">
        <h4>f14 Third Column</h4>
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
    </div>      
</div>
</div>
  	
 		
 	
 <div class="features" id = "f15">
	<div class="secHdr" >Secure non cloud based software</div>
      <div class="featuresCols">
    <div class="fcols" id = "f15_c1">
        <h4>f15 First Column</h4>
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
    </div>
   <div class="fcols" id = "f15_c2">
        <h4>f15 Second Column</h4>
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
    </div>  
   <div class="fcols" id = "f15_c3">
        <h4>f15 Third Column</h4>
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
    </div>      
</div>
</div> 
	
	
 <div class="features" id = "f16">
	<div class="secHdr" >Secure non cloud based software</div>
      <div class="featuresCols">
    <div class="fcols" id = "f16_c1">
        <h4>f16 First Column</h4>
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
    </div>
   <div class="fcols" id = "f16_c2">
        <h4>f16 Second Column</h4>
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
    </div>  
   <div class="fcols" id = "f16_c3">
        <h4>f16 Third Column</h4>
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
    </div>      
</div>
</div>
  	
	
 <div class="features" id = "f17">
	<div class="secHdr" >Secure non cloud based software</div>
      <div class="featuresCols">
    <div class="fcols" id = "f16_c1">
        <h4>f16 First Column</h4>
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
    </div>
   <div class="fcols" id = "f16_c2">
        <h4>f16 Second Column</h4>
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
    </div>  
   <div class="fcols" id = "f16_c3">
        <h4>f16 Third Column</h4>
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
        <p> Column  content.</p><p> Column  content.</p><p> Column  content.</p>  
    </div>      
</div>
</div> 	 	
 	
         
</div> <!--End of content div -->

    <footer class="main-footer">
        
    <div class="footer-inner">		
    <p>Simple example using flexbox with banner and footer </p>
    </div>
    </footer> 
	

	  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script> 
    
    <script  src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    	
	  <script src="./js/app.js"></script> 
	  <script src="./js/main.js"></script> 
</body>
    


</html>
